#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: gray;
  border-radius: 15px;
}


.count{
  background-color: teal;
  border-radius: 15px;
  padding: 50px;
}